
@{
    ViewData["Title"] = "Admin";
}

<style>

    * {
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        font-family: Arial;
        background: linear-gradient(to bottom right,#fff5f5,white);
    }

    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .admin-card {
        width: 100%;
        max-width: 700px;
        background: white;
        padding: 60px;
        border-radius: 30px;
        text-align: center;
        box-shadow: 0 10px 40px rgba(0,0,0,0.15);
    }

    .title {
        font-size: 55px;
        font-weight: bold;
        color: #c40000;
        word-wrap: break-word;
    }

    #playerCountBox {
        margin-top: 30px;
        font-size: 35px;
        font-weight: bold;
        color: #c40000;
        line-height: 1.5;
    }

    .start-btn {
        margin-top: 50px;
        width: 100%;
        height: 80px;
        border: none;
        border-radius: 50px;
        background: linear-gradient(to right,#ff0000,#b30000);
        color: white;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }

        .start-btn:hover {
            transform: scale(1.02);
        }

    /* MOBILE */
    @@media (max-width:768px) {
        body

    {
        padding: 15px;
        align-items: flex-start;
    }

    .admin-card {
        padding: 25px;
        border-radius: 20px;
        margin-top: 30px;
    }

    .title {
        font-size: 34px;
    }

    #playerCountBox {
        font-size: 24px;
        margin-top: 20px;
    }

    .start-btn {
        height: 60px;
        font-size: 24px;
        margin-top: 30px;
        border-radius: 20px;
    }

    }
</style>

<div class="admin-card">

    <div class="title">
        🎮 ADMIN PANEL
    </div>

    <div id="playerCountBox">

        👥 Số người tham gia:
        <span id="playerCount">0</span>

    </div>

    <button class="start-btn"
            onclick="startGame()">

        BẮT ĐẦU GAME

    </button>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>

<script>

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/quizHub")
        .build();

    async function startConnection()
    {
        try
        {
            await connection.start();

            console.log("SignalR Connected");
        }
        catch(err)
        {
            console.log(err);
        }
    }

    startConnection();

    function startGame()
    {
        connection.invoke("StartGame");
    }

    connection.on("UpdatePlayerCount", function (count) {

        document.getElementById("playerCount")
            .innerText = count;

    });

</script>

